.DailyCounter {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }


  .DailyCounter-header {
    margin-top: 40px;
  }
  

  .Button {
    background-color: #888;
    border-radius: 10%;
    border-style: none;
    color: #ffffff;
    cursor: pointer;
    font-family: inherit;
    height: 20px;
    padding: 4px;
    width: 20px;
    margin: 10px;
  }
  
  .Button:hover {
    background-color: #0C9;
  }

  h5{
      color: #DDD;
      text-align: center;
  }
  