.Container{
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    background-color:white;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}
.Title{
    padding-left: 33px;
    margin : auto;
    display: inline;
}

.TaskList{
    padding: 8px;
    transition: background-color 0.2s ease;
    background-color: inherit;
    flex-grow: 1;
    min-height: 100px;
} 

.TaskEntry {
    margin: 4px;
    padding: 4px;
}

.PomodoroSlots{
    font-size: xx-small;
}

.modalContainer {
    display: inline;
    padding: 4px;
    margin: 4px;
    display:flex;
    align-items: center;
}

.Clock{
    margin: 4px;
    padding: 4px;
}