.float{
	position:fixed;
	width:20px;
	height:20px;
	top:20px;
	left:5px;
	background-color:#0C9;
	color:#FFF;
    border-radius:44px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    padding: 20px;
}

.my-float{
	margin:3px;
}

.rowContainer{
  display: flex;
  justify-content: center;
  /* border-style: dotted;
  border-width: 1px; */
  margin: 5px;
  padding: 5px;
}

.Completed {
  width: 30%;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

