button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

button:disabled{
    opacity: 0.4;
    cursor: not-allowed;
}

.Task {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.taskCard{
    border: 2px solid blue;
}