.Input {
    /* width: 100%; */
    padding: 2px;
    margin: 2px;
    /* box-sizing: border-box; */
}

.Label{
    font-weight: bold;
    display: block;
    margin: 1px;
}

.InputElement { 
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 2px;
    display: block;
    /* width: 100%; */
    /* box-sizing: border-box; */
    margin: 2px;
}

.InputElement:focus{ 
    outline: none;
    background-color: lightgreen;
}