form{
    margin: 4px;
}

label{
    font-size: xx-small;
}

.checkboxes{
    display: flex;
}

input[type=submit], input[type=button]{
    background-color: yellowgreen;
    border: 1px solid #DDD;
    border-radius: 0.2em;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    line-height: 1;
    display: block;
    width: 30%;
    margin: auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

input[type=number]{
    background-color: transparent;
    border: 1px solid #DDD;
    border-radius: 0.2em;
    color: #333;
    align-self: center;
    display: inline-block;
    width: 30%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

input[type=checkbox]{
    background-color: pink;
    border: 1px solid #DDD;
    border-radius: 0.2em;
    color: #333;
    align-self: center;
    display: inline;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}